doctype html
html(lang="en")
    head
        title=feedback
        meta(name="viewport" content="width=device-width, initial-scale=1")
        // roboto
        link(href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet")
        // stylesheets
        link(href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet")
        link(href="/bootstrap/css/bootstrap.min.css" rel="stylesheet")
        // star rating found somewhere internets
        link(href="/src/css/star-rating.min.css" rel="stylesheet")
        link(href="/bootstrap/css/bootstrap-theme.min.css" rel="stylesheet")
        // material bootstrap css
        link(href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.5.4/css/bootstrap-material-design.min.css" rel="stylesheet")
        link(href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.5.4/css/ripples.min.css" rel="stylesheet")
        // our original stylesheet
        //link(href="/src/css/style.css" rel="stylesheet")
        
    body
        .container-fluid    
            .row.text-center
                h1 Feedback form
                p Your feedback is valuable for us. Please fill this form
            .row.text-center.bs-component
                .col-md-6
                    .sub-info.card
                        h4 subcontractor information:
                        p name : !{scs.name} y : !{scs.y}
                        p address : !{scs.address}
                        p phone : !{scs.phone} 
                .col-md-6.text-center
                    .form-group.label-floating
                        label.control-label(for="email") Receive offers and coupons by entering your email address 
                        input.form-control(id="email")
                        span.material-input
                    .form-group.label-floating
                        label.control-label(for="comment") Optional comments
                        textarea.form-control(id="comment")
                        span.material-input
        // star rating
        .container
            .row.text-center
                .col-md-6
                    h2 General impression
                    input(class="rating" id="overall" data-step="1")
                .col-md-6
                    h2 Quality of work
                    input(id="tidiness" class="rating" data-step="1")
            .row.text-center
                .col-md-6
                    h2 Delivery time
                    input(id="service" class="rating" data-step="1")
                .col-md-6
                    h2 Customer service
                    input(id="time" class="rating" data-step="1")
            .row.text-center
                    h2 Do you want to be contacted? 
                    .form-group(data-toggle="buttons" id="recall")
                        label.btn.btn-raised yes 
                            input(type="radio" id="yes" value="yes")
                        label.btn.btn-raised no
                            input(checked type="radio" id="no" value="no")
            .row.text-center
                br
                button.btn.btn-primary(id="submitBtn" type="submit" value="yes") Submit
    
        script(src="https://code.jquery.com/jquery-2.1.4.min.js")
        script(src="/bootstrap/js/bootstrap.min.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.5.4/js/material.min.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.5.4/js/ripples.min.js")

        script(src="/src/star-rating.min.js")
        script(src="/src/feedback.js")
